html{
    background-color:darkslateblue;
}

.container-fluid{
    background-color:darkslateblue !important;
}

input[type='text']{
    background: transparent;
    color: white;
}
input[type='text']:focus{
    background: transparent;
    color: white;
}